### IntelliJ ###
.idea/
*.iml
out/
bin/

### Gradle ###
.gradle/
build/

### Logs ###
*.log
*.csv

### OS ###
.DS_Store

### Environment files ###
*.env

### Others ###
*.class
*.jar
*.war
*.zip
*.tar
*.gz
